MerSETA/src/main/webapp/xsd/unitstandard.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
  <xsd:element name="SAQAUNITSTANDARDS">
    <xsd:complexType>
      <xsd:sequence>
	<xsd:element maxOccurs="unbounded" name="UNITSTANDARD">
          <xsd:complexType>
            <xsd:sequence>
	      <xsd:element name="DOWNLOAD_DATE" minOccurs="0" od:jetType="datetime" od:sqlSType="datetime" type="xsd:dateTime" />
	      <xsd:element name="LAST_UPDATE_DATE" minOccurs="0" od:jetType="datetime" od:sqlSType="datetime" type="xsd:dateTime" />
	      <xsd:element name="UNIT_STANDARD_ID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int" />
	      <xsd:element name="UNIT_STD_TITLE" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="200"/></xsd:restriction></xsd:simpleType></xsd:element> 
	      <xsd:element name="SGB_NAME" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="50"/></xsd:restriction></xsd:simpleType></xsd:element> 
	      <xsd:element name="FIELD" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="71"/></xsd:restriction></xsd:simpleType></xsd:element> 
	      <xsd:element name="PROVIDER_CODE" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="20"/></xsd:restriction></xsd:simpleType></xsd:element> 
	      <xsd:element name="PROVIDER_NAME" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="70"/></xsd:restriction></xsd:simpleType></xsd:element> 
              <xsd:element name="PROVIDER_ETQA_ID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int" />
              <xsd:element name="ETQA_ACRONYM" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="50"/></xsd:restriction></xsd:simpleType></xsd:element> 
              <xsd:element name="ETQA_NAME" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="150"/></xsd:restriction></xsd:simpleType></xsd:element> 
	      <xsd:element name="FIELD_DESCRIPTION" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="60"/></xsd:restriction></xsd:simpleType></xsd:element> 
	      <xsd:element name="SUBFIELD_DESCRIPTION" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="80"/></xsd:restriction></xsd:simpleType></xsd:element> 
	      <xsd:element name="ABET_BAND_DESCRIPTION" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="26"/></xsd:restriction></xsd:simpleType></xsd:element> 
	      <xsd:element name="UNIT_STD_TYPE_DESC" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="26"/></xsd:restriction></xsd:simpleType></xsd:element> 
	      <xsd:element name="NQF_LEVEL_DESCRIPTION" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="26"/></xsd:restriction></xsd:simpleType></xsd:element> 
        <xsd:element name="NQF_LEVEL_G2_DESCRIPTION" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar"><xsd:simpleType> <xsd:restriction base="xsd:string"> <xsd:maxLength value="27"/></xsd:restriction></xsd:simpleType></xsd:element><xsd:element name="UNIT_STD_NUMBER_OF_CREDITS" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int" />
	      <xsd:element name="REGISTRATION_STATUS_DESC" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="59"/></xsd:restriction></xsd:simpleType></xsd:element> 
	      <xsd:element name="US_REGISTRATION_START_DATE"  minOccurs="0" od:jetType="datetime" od:sqlSType="datetime" type="xsd:dateTime" />
	      <xsd:element name="US_REGISTRATION_END_DATE"  minOccurs="0" od:jetType="datetime" od:sqlSType="datetime" type="xsd:dateTime" />
              <xsd:element name="TRANSITION_PERIOD" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int" />
              <xsd:element name="LAST_DATE_FOR_ENROLMENT" minOccurs="0" od:jetType="datetime" od:sqlSType="datetime" type="xsd:dateTime" />
              <xsd:element name="TRAIN_OUT_PERIOD" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int" />
              <xsd:element name="LAST_DATE_FOR_ACHIEVEMENT" minOccurs="0" od:jetType="datetime" od:sqlSType="datetime" type="xsd:dateTime" />
	      <xsd:element name="SAQA_DECISION_NUMBER" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="20"/></xsd:restriction></xsd:simpleType></xsd:element> 
	      <xsd:element name="UNIT_STD_PURPOSE" minOccurs="0" od:jetType="memo" od:sqlSType="text"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="536870910"/></xsd:restriction></xsd:simpleType></xsd:element>
	      <xsd:element name="UNIT_STD_LEARNING_ASSUMPTIONS" minOccurs="0" od:jetType="memo" od:sqlSType="text"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="536870910"/></xsd:restriction></xsd:simpleType></xsd:element>
	      <xsd:element name="UNIT_STD_RANGE" minOccurs="0" od:jetType="memo" od:sqlSType="text"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="536870910"/></xsd:restriction></xsd:simpleType></xsd:element>
	      <xsd:element name="UNIT_STD_OUTCOME_HEADER" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="50"/></xsd:restriction></xsd:simpleType></xsd:element> 
	      <xsd:element name="UNIT_STD_ACCREDITATION_OPTIONS" minOccurs="0" od:jetType="memo" od:sqlSType="text"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="536870910"/></xsd:restriction></xsd:simpleType></xsd:element>
	      <xsd:element name="UNIT_STD_EMBEDDED_KNOWLEDGE" minOccurs="0" od:jetType="memo" od:sqlSType="text"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="536870910"/></xsd:restriction></xsd:simpleType></xsd:element>
	      <xsd:element name="UNIT_STD_DEVELOPMENTAL_OUTCOME" minOccurs="0" od:jetType="memo" od:sqlSType="text"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="536870910"/></xsd:restriction></xsd:simpleType></xsd:element>
	      <xsd:element name="UNIT_STD_LINKAGES" minOccurs="0" od:jetType="memo" od:sqlSType="text"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="536870910"/></xsd:restriction></xsd:simpleType></xsd:element>
	      <xsd:element name="UNIT_STD_CCFO_IDENTIFYING" minOccurs="0" od:jetType="memo" od:sqlSType="text"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="536870910"/></xsd:restriction></xsd:simpleType></xsd:element>
	      <xsd:element name="UNIT_STD_CCFO_WORKING" minOccurs="0" od:jetType="memo" od:sqlSType="text"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="536870910"/></xsd:restriction></xsd:simpleType></xsd:element>
	      <xsd:element name="UNIT_STD_CCFO_ORGANIZING" minOccurs="0" od:jetType="memo" od:sqlSType="text"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="536870910"/></xsd:restriction></xsd:simpleType></xsd:element>
	      <xsd:element name="UNIT_STD_CCFO_COLLECTING" minOccurs="0" od:jetType="memo" od:sqlSType="text"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="536870910"/></xsd:restriction></xsd:simpleType></xsd:element>
	      <xsd:element name="UNIT_STD_CCFO_COMMUNICATING" minOccurs="0" od:jetType="memo" od:sqlSType="text"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="536870910"/></xsd:restriction></xsd:simpleType></xsd:element>
	      <xsd:element name="UNIT_STD_CCFO_SCIENCE" minOccurs="0" od:jetType="memo" od:sqlSType="text"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="536870910"/></xsd:restriction></xsd:simpleType></xsd:element>
	      <xsd:element name="UNIT_STD_CCFO_DEMONSTRATING" minOccurs="0" od:jetType="memo" od:sqlSType="text"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="536870910"/></xsd:restriction></xsd:simpleType></xsd:element>
	      <xsd:element name="UNIT_STD_CCFO_CONTRIBUTING" minOccurs="0" od:jetType="memo" od:sqlSType="text"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="536870910"/></xsd:restriction></xsd:simpleType></xsd:element>
	      <xsd:element name="UNIT_STD_ASSESSOR_CRITERIA" minOccurs="0" od:jetType="memo" od:sqlSType="text"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="536870910"/></xsd:restriction></xsd:simpleType></xsd:element>
	      <xsd:element name="UNIT_STD_NOTES" minOccurs="0" od:jetType="memo" od:sqlSType="text"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="536870910"/></xsd:restriction></xsd:simpleType></xsd:element>
	      
	      	<xsd:element maxOccurs="unbounded" name="SPECIFICOUTCOME">
          <xsd:complexType>
            <xsd:sequence>
	      <xsd:element name="UNIT_STANDARD_ID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int" />
              <xsd:element name="OUTCOME_ID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int"  />
              <xsd:element name="OUTCOME_TITLE" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="250"/></xsd:restriction></xsd:simpleType></xsd:element> 
	      <xsd:element name="OUTCOME_NOTES" minOccurs="0" od:jetType="memo" od:sqlSType="text"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="536870910"/></xsd:restriction></xsd:simpleType></xsd:element>
	      <xsd:element name="OUTCOME_RANGE" minOccurs="0" od:jetType="memo" od:sqlSType="text"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="536870910"/></xsd:restriction></xsd:simpleType></xsd:element>
	    </xsd:sequence>
	  </xsd:complexType>
	</xsd:element>
        <xsd:element maxOccurs="unbounded" name="ASSESSMENTCRITERIA">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="OUTCOME_ID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int" />
              <xsd:element name="ASSESSMENT_CRITERION_DESC" minOccurs="0" od:jetType="memo" od:sqlSType="text"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="536870910"/></xsd:restriction></xsd:simpleType></xsd:element>
              <xsd:element name="ASSESSMENT_CRITERION_NOTES" minOccurs="0" od:jetType="memo" od:sqlSType="text"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="536870910"/></xsd:restriction></xsd:simpleType></xsd:element>
	      <xsd:element name="ASSESSMENT_CRITERION_RANGE" minOccurs="0" od:jetType="memo" od:sqlSType="text"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="536870910"/></xsd:restriction></xsd:simpleType></xsd:element>
	    </xsd:sequence>
	  </xsd:complexType>
	</xsd:element>
       </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
	      
	    </xsd:sequence>
	  </xsd:complexType>
	</xsd:element>

</xsd:schema>
