MerSETA/src/main/resources/wsdl/gptransactions.wsdl

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Finance.merseta.org.za/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://Finance.merseta.org.za/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://Finance.merseta.org.za/">
			<s:element name="OutStandingTransactions">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Username"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Password"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="vendid"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="OutStandingTransactionsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="OutStandingTransactionsResult" type="tns:ArrayOfInfo" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfInfo">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="info"
						nillable="true" type="tns:info" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="info">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="VendID"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Vendname"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="VoucherNumber"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="DocType"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="DocDate"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="DocNumber"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="DocDescription"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="DocFunctionalAmount"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="DockBalance1"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="DocHold1"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="DocHoldReason1"
						type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="RecentTransactions">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Username"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Password"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="vendid"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="RecentTransactionsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="RecentTransactionsResult" type="tns:ArrayOfRecentPayments" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfRecentPayments">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="RecentPayments"
						nillable="true" type="tns:RecentPayments" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="RecentPayments">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="OrgID" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="OrgName"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Pdoctype"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="AnType"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="PDate" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="ADate" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="PNumber"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Anumber"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="PDescription"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="ADescription"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Pamount"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Aamount"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Pbalance"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Abalance"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="DocAmount"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="PApliedAmount"
						type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="ArrayOfInfo" nillable="true" type="tns:ArrayOfInfo" />
			<s:element name="ArrayOfRecentPayments" nillable="true"
				type="tns:ArrayOfRecentPayments" />
		</s:schema>
	</wsdl:types>
	<wsdl:message name="OutStandingTransactionsSoapIn">
		<wsdl:part name="parameters" element="tns:OutStandingTransactions" />
	</wsdl:message>
	<wsdl:message name="OutStandingTransactionsSoapOut">
		<wsdl:part name="parameters" element="tns:OutStandingTransactionsResponse" />
	</wsdl:message>
	<wsdl:message name="RecentTransactionsSoapIn">
		<wsdl:part name="parameters" element="tns:RecentTransactions" />
	</wsdl:message>
	<wsdl:message name="RecentTransactionsSoapOut">
		<wsdl:part name="parameters" element="tns:RecentTransactionsResponse" />
	</wsdl:message>
	<wsdl:message name="OutStandingTransactionsHttpGetIn">
		<wsdl:part name="Username" type="s:string" />
		<wsdl:part name="Password" type="s:string" />
		<wsdl:part name="vendid" type="s:string" />
	</wsdl:message>
	<wsdl:message name="OutStandingTransactionsHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfInfo" />
	</wsdl:message>
	<wsdl:message name="RecentTransactionsHttpGetIn">
		<wsdl:part name="Username" type="s:string" />
		<wsdl:part name="Password" type="s:string" />
		<wsdl:part name="vendid" type="s:string" />
	</wsdl:message>
	<wsdl:message name="RecentTransactionsHttpGetOut">
		<wsdl:part name="Body" element="tns:ArrayOfRecentPayments" />
	</wsdl:message>
	<wsdl:message name="OutStandingTransactionsHttpPostIn">
		<wsdl:part name="Username" type="s:string" />
		<wsdl:part name="Password" type="s:string" />
		<wsdl:part name="vendid" type="s:string" />
	</wsdl:message>
	<wsdl:message name="OutStandingTransactionsHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfInfo" />
	</wsdl:message>
	<wsdl:message name="RecentTransactionsHttpPostIn">
		<wsdl:part name="Username" type="s:string" />
		<wsdl:part name="Password" type="s:string" />
		<wsdl:part name="vendid" type="s:string" />
	</wsdl:message>
	<wsdl:message name="RecentTransactionsHttpPostOut">
		<wsdl:part name="Body" element="tns:ArrayOfRecentPayments" />
	</wsdl:message>
	<wsdl:portType name="TransictionConverterSoap">
		<wsdl:operation name="OutStandingTransactions">
			<wsdl:input message="tns:OutStandingTransactionsSoapIn" />
			<wsdl:output message="tns:OutStandingTransactionsSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="RecentTransactions">
			<wsdl:input message="tns:RecentTransactionsSoapIn" />
			<wsdl:output message="tns:RecentTransactionsSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="TransictionConverterHttpGet">
		<wsdl:operation name="OutStandingTransactions">
			<wsdl:input message="tns:OutStandingTransactionsHttpGetIn" />
			<wsdl:output message="tns:OutStandingTransactionsHttpGetOut" />
		</wsdl:operation>
		<wsdl:operation name="RecentTransactions">
			<wsdl:input message="tns:RecentTransactionsHttpGetIn" />
			<wsdl:output message="tns:RecentTransactionsHttpGetOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="TransictionConverterHttpPost">
		<wsdl:operation name="OutStandingTransactions">
			<wsdl:input message="tns:OutStandingTransactionsHttpPostIn" />
			<wsdl:output message="tns:OutStandingTransactionsHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="RecentTransactions">
			<wsdl:input message="tns:RecentTransactionsHttpPostIn" />
			<wsdl:output message="tns:RecentTransactionsHttpPostOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TransictionConverterSoap" type="tns:TransictionConverterSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="OutStandingTransactions">
			<soap:operation
				soapAction="http://Finance.merseta.org.za/OutStandingTransactions"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RecentTransactions">
			<soap:operation soapAction="http://Finance.merseta.org.za/RecentTransactions"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="TransictionConverterSoap12" type="tns:TransictionConverterSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="OutStandingTransactions">
			<soap12:operation
				soapAction="http://Finance.merseta.org.za/OutStandingTransactions"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RecentTransactions">
			<soap12:operation soapAction="http://Finance.merseta.org.za/RecentTransactions"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="TransictionConverterHttpGet" type="tns:TransictionConverterHttpGet">
		<http:binding verb="GET" />
		<wsdl:operation name="OutStandingTransactions">
			<http:operation location="/OutStandingTransactions" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RecentTransactions">
			<http:operation location="/RecentTransactions" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="TransictionConverterHttpPost" type="tns:TransictionConverterHttpPost">
		<http:binding verb="POST" />
		<wsdl:operation name="OutStandingTransactions">
			<http:operation location="/OutStandingTransactions" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RecentTransactions">
			<http:operation location="/RecentTransactions" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TransictionConverter">
		<wsdl:port name="TransictionConverterSoap" binding="tns:TransictionConverterSoap">
			<soap:address location="http://gpws.merseta.org.za/TransictionConverter.asmx" />
		</wsdl:port>
		<wsdl:port name="TransictionConverterSoap12" binding="tns:TransictionConverterSoap12">
			<soap12:address
				location="http://gpws.merseta.org.za/TransictionConverter.asmx" />
		</wsdl:port>
		<wsdl:port name="TransictionConverterHttpGet" binding="tns:TransictionConverterHttpGet">
			<http:address location="http://gpws.merseta.org.za/TransictionConverter.asmx" />
		</wsdl:port>
		<wsdl:port name="TransictionConverterHttpPost" binding="tns:TransictionConverterHttpPost">
			<http:address location="http://gpws.merseta.org.za/TransictionConverter.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>